{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <center>
    {% block titulo %}
    {% endblock %}
    </center>
    <link rel="stylesheet" href="{% static 'css/estilos.css'%}">
</head>
<body>
    <div>
        <center>
            {% block navegacion %}
                <h1>Mi blog</h1>
                {% if user.is_authenticated %}        
                    
                {% else %}
                <form method="post" action="{% url 'apps.blog_auth:sesion' %}">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">Iniciar sesión</button>
                </form>
                <form method="post" action="{% url 'apps.blog_auth:registro' %}">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">Registrarse</button>
                </form>
                {% endif %}
                

                {% if user.is_authenticated %}
                <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                        </button>
                        <div class="dropdown-content">
                        <form method="post" action="{% url 'apps.blog_auth:cerrar_sesion' %}">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item">Cerrar sesión</button>
                        </form>
                        </div>
                    </div>
                    {% if perms.post.add_articulo %}
                        <div class="dropdown">
                            <button>-----Articulo-----</button>
                            <div class="dropdown-content">
                            <a href="{% url 'apps.post:agregar_articulo' %}">Agregar</a>
                            <a href="{% url 'apps.post:listar_articulos' %}">Listar</a>
                            </div>
                        </div>
                    {% else %}
                    <div class="dropdown">
                        <button>-----Articulo-----</button>
                        <div class="dropdown-content">
                            <a href="{% url 'apps.post:listar_articulos' %}">Listar</a>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                
            {% endblock %}
        </center>
    </div>
            {% block contenido %}
            {% endblock %}
    <div>
        

    </div>
</body>
<footer>

</footer>
</html>