{% extends 'base.html' %}
{% load static %}

{% block contenido %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-container">
            <div class="card" style="width: auto;">
                <div class="card-body">
                    <h1>Modificar Articulo</h1>
                    <table>
                        <form action="">
                            <tr>
                                <td>
                                    Titulo: {{form.titulo}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Subtitulo: {{form.subtitulo}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Texto: {{form.texto}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Imagen: {{form.imagen}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Categoria: {{form.categoria}}
                                </td>
                            </tr>
                        </form>
                    </table>
                    <input type="submit" class="btn btn-primary" value="Guardar">
                </div>
            </div>
        </div>
    </form>
{% endblock %}