{% extends 'base.html'%}
{% load static %}

{% block contenido %}
<div class="card-container">
    <div class="card" style="width: auto;">
        <br>
            {% if articulo.imagen %}
            <img src="{{articulo.imagen.url}}" class="card-img-top" alt="...">
            {% else %}
            <img src="{% static 'post_default.png' %}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: x-large;">{{articulo.titulo}}</h5>
                <p class="card-text" style="font-family:Georgia, 'Times New Roman', Times, serif">{{articulo.subtitulo}}</p>
                <p class="card-text" style="font-family:Georgia, 'Times New Roman', Times, serif">{{articulo.texto}}</p>
                <p class="card-text">{{articulo.fecha}}</p>
                <p class="card-text">{{articulo.categoria}}</p>
                {% if user.perfil.colaborador %}
                <a href="{% url 'apps.post:actualizar_articulo' articulo.pk%}" class="btn btn-primary">Editar</a>
                <a href="{% url 'apps.post:eliminar_articulo' articulo.pk%}" class="btn btn-primary">Eliminar</a>
                {% endif %}
            </div>
        <br>
    </div>
</div>

<div class="container-fluid">
    <h3 style="color: aliceblue;">Comentarios ({{ comentarios.count }})</h3>
    <div class="container-fluid">
        
            {% include 'articulos/listar_comentarios.html' %}
        
    </div>
</div>
{% if user.perfil.miembro or user.perfil.colaborador %}
<div class="card-container-comentario">
    <div class="card" style="width: auto;">
        <div class="card-body">
                <h6>Añadir tu comentario:</h6>
                {% include 'articulos/agregar_comentario.html' %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}