{% block contenido %}

{% for p in comentarios %}

    <br>
    <div class="card-container-comentario">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <p>
                    {{p.usuario}}:
                </p>
                <p>
                    {{p.texto}}
                </p>
                {% if user.perfil.colaborador or user.perfil.miembro %}
                    {% if p.usuario.id == user.id %}
                        <a href="{% url 'apps.comentarios:editar_comentario' p.pk%}" class="btn btn-primary">Editar</a>
                        <a href="{% url 'apps.comentarios:eliminar_comentario' p.pk%}" class="btn btn-primary">Eliminar</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    {%empty%}
    <h5>No hay comentarios</h5>
    {% endfor %}
{% endblock %}
