{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="container">
    <p style="color: aliceblue;">Filtrar por categoria:</p>
    <div class="btn-group" role="group" aria-label="Basic example">
        {% for p in articulos %}
            <a href="{% url 'apps.post:listar_por_categoria' p.categoria.nombre%}" class="btn btn-primary">{{p.categoria.nombre}}</a>
        {% endfor %}
    </div>
    <a href="{% url 'apps.post:listar_articulos'%}" class="btn-primary">Eliminar filtro</a>
    <form method="GET" action="{% url 'apps.post:ordenar_por' %}">
        <button class="btn btn-primary" name="orden" type="submit" value="fecha">Ordenar por fecha</button>
        <button class="btn btn-primary" name="orden" type="submit" value="titulo">Ordenar por título</button>
    </form>
</div> 
<div class="card-container">
    {% for p in articulos %}
    <div class="card" style="width: 18rem;">
            <img src="{{p.imagen.url}}" class="card-img-top" width="200px" alt="...">
            <div class="card-body">
                <h5 class="card-title" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{p.titulo}}</h5>
                <p class="card-text" style="font-family:Georgia, 'Times New Roman', Times, serif;">{{p.texto|truncatechars:100}}</p>
                <p class="card-text">{{p.fecha}}</p>
                <p class="card-text">{{p.categoria}}</p>
                <a href="{% url 'apps.post:articulo_individual' p.pk%}" class="btn btn-primary">Ver mas</a>
            </div>  
    </div>
    {% empty %}
        <h1>No hay registros</h1>
    {% endfor %}
</div>

{% endblock %}
