{% extends 'base.html'%}
{% load static %}

{% block contenido %}
<section data-bs-version="5.1" class="form4 cid-tf6M1H8RDD mbr-fullscreen" id="form4-12">
    <div class="container">
        <div class="row content-wrapper justify-content-center align-items-center">
            <!-- Formulario -->
            <div class="col-lg-5 col-md-8 mbr-form" data-form-type="formoid">
                <div class="dragArea row">
                    <div class="col-lg-12">
                        <h1 class="mbr-section-title mb-4 display-4 text-center text-white"><strong>{{user.username}}</strong></h1>
                    </div>
                    <div class="col-lg-12 mb-4 text-center">
                        {% if user.perfil.colaborador %}
                            <p class="mbr-text mbr-fonts-style display-7 text-light">Colaborador</p>
                        {% else %}
                            <p class="mbr-text mbr-fonts-style display-7 text-light">Miembro</p>
                        {% endif %}
                    </div>

                </div>
            </div>
            <!-- Imagen al lado del formulario -->
            <div class="col-lg-5 d-none d-lg-block">
                <div class="image-wrapper">
                    <img class="img-fluid rounded-circle" src="{{user.imagen.url}}" style="margin-top: 6%;" alt="Imagen de registro de usuario">
                </div>
            </div>
        </div>
    </div>
</section>
    
{% endblock %}